<h1>Earnings Per Share</h1>
<%= link_to 'New Product', new_share_path, {class: "btn btn-default"}  %>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Share Name</th>
    <th>Value</th>
    <th>Quarter</th>
    <th>Year</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @earnings_per_shares.each do |eps| %>
    <tr style="min-height: 60px">
      <td><%= eps.share.name %></td>
      <td><%= eps.value %></td>
      <td><%= eps.quarter %></td>
      <td><%= eps.year %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>
